<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="1C9976B4-E672-4722-A90A-DE63BCF99E0A" Language="1033"
         Manufacturer="Bob -- K6RWY" Name="CodeGen"
         Version="!(bind.fileVersion.CodeGen.cmp)"
         >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
           Manufacturer="Bob -- K6RWY" Description="Installs CodeGen"
           Comments="Copyright (c) Bob -- K6RWY"
           />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="D:\Sources\WixApp\Debug\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="D:\Sources\WixApp\Debug\banner.bmp"/>

  <Icon     Id="CodeGenIIIcon.ico" SourceFile="$(var.SolutionDir)..\CodeGenII.prj\res\CodeGenII.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="CodeGenIIIcon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="CodeGen.ftr"/>
    <ComponentGroupRef Id="UninstallCodeGen.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="CodeGen.ftr">
  <ComponentRef Id="CodeGen.cmp"/>
  <ComponentRef Id="Help.cmp"/>
</ComponentGroup>
<ComponentGroup Id="UninstallCodeGen.ftr">
  <ComponentRef Id="UninstallCodeGen.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="DBCodeGen.pff" Name="DBCodeGen" />
    </Directory>

    <Directory Id="ProgramMenuFolder" Name="StartMenu">
      <Directory Id="DBCodeGen.pmf" Name="DBCodeGen" />
    </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="DBCodeGen" />
  <Property Id="WIXUI_INSTALLDIR"      Value="DBCodeGen.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="CodeGen.cmp"  Guid="98E53F2E-CDC9-40CF-B89B-E20927CB7BBF" Directory="DBCodeGen.pff">
    <File Id="CodeGen.cmp" Source="$(var.SolutionDir)..\Release\CodeGenII.exe" KeyPath="yes"/>

    <Shortcut Id               = "CodeGen.shc"
              Name             = "CodeGen"
              Description      = "Will produce .h and .cpp files for each table in an Access Database"
              Advertise        = "yes"
              Directory        = "DBCodeGen.pmf"
              WorkingDirectory = "DBCodeGen.pff"
              Icon             = "CodeGenIIIcon.ico"
              />

    <Shortcut Id               = "CodeGen.dsk"
              Name             = "CodeGen"
              Description      = "Will produce .h and .cpp files for each table in an Access Database"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "DBCodeGen.pff"
              Icon             = "CodeGenIIIcon.ico"
              />
  </Component>

  <Component Id="Help.cmp"  Guid="27E4F5B2-D132-45B1-BD13-04FABE6CF63E" Directory="DBCodeGen.pff">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\CodeGenII.chm" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="UninstallCodeGen.cmp" 
                                Guid="6BEEA937-E380-4ACB-B02D-B6042054BABD" Directory="DBCodeGen.pmf">

    <Shortcut Id               = "UninstallCodeGen.shc"
              Name             = "Uninstall CodeGen"
              Description      = "Uninstalls CodeGen"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "CodeGenIIIcon.ico"
              />
    <RemoveFolder Id="DBCodeGen.uni" Directory="DBCodeGen.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\UninstallCodeGen.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
